<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'recfaces/style2.css' %}">
</head>
<body class="main">
  <div class="main_content">
    <h3 class="main_title">You are at home</h3>
    <div class="functional_content">
      <a class="add" href="add_person/">Добавить фото</a>
      <div class="database">
        <p class="data_title"><strong>База Данных</strong></p>
        <ol class="cards">
          {% for person in object_list %}
            <li class="card">
                <img class="img_person" align="left" height="100px" width="100px" src="{{ person.imgPath.url }}" alt="{{ person.fio }}">
                <div class="info_person">
                  <h4 class="person_info">id = {{ person.id }}</h4>
                  <h4 class="person_info">name = {{ person.fio }}</h4>
                  <h4 class="person_info">gender = {{ person.gender }}</h4>
                  <h4 class="person_info">age = {{ person.age }}</h4>
                </div>
                <div>
<!--                    <a class="add"  href="edit/{{person.id}}">Изменить</a>-->
                    <a class="add"  href="delete/{{person.id}}">Удалить</a>
                </div>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
    {% if messages %}
    <script>
            alert("{{messages}}");
    </script>
    {% endif %}
</body>
</html>
